@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* AAA */
*,
*:before,
*:after {
  box-sizing: border-box;
}
main {
  padding: 0;
}
.main {
  font-family:
    Balsamiq Sans,
    sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  border-color: #000;
  border: 2px;
  /* min-height: 100px; */
  border-style: solid;
  margin-top: 20px;
  width: fit-content;
  height: fit-content;
  /* margin-left:auto;
  margin-right:auto; */
  margin-bottom: 20px;
  /* margin-left: 7px;
  margin-right: 15px; */
  margin-right: 15px;
  margin-left: 15px;
  background-color: #f4f0e5;
}
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.ticket-container {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #000000;
  -webkit-text-stroke: 1px#000000;
  text-stroke: 1px#000000;
  /* margin: 38px; */
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  /* min-height: 30px;
  min-width: 100px; */
  padding: 10px;
  /*row-gap: 40px;*/
  /* column-gap: 40px; */
  /* justify-content: center;
  align-content: start;
  justify-content: space-around; */
  margin: auto;
}

.curtain {
  display: flex;
  /* border-radius: 0px 0px 10px 10px;
  border-color: #000;
  border: 2px; */
  border-top: 0px;
  min-height: 30px;
  min-width: 250px;
  border-style: solid;
  /* background-color: #E7C9C7; */
}

.ticket {
  position: relative;
  display: inline-block;
  border: 40px;
  border-color: #000;
  /* width: 115px; */
  height: 200px;
  /* background-color: #5cdaaf; */
  padding: 10px;
  border-radius: 15px;
  /* flex-basis: 33%; */
  flex-basis: 115px;
  /* width: fit-content; */
  margin: 0 5px 0 5px;
}
.time {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.container__header {
  border-color: rgba(229, 232, 235, 1);
  border-bottom-width: 1px;
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  padding: 1px 0 1px 26px;
}

.main-img {
  display: flex;
  justify-content: center;
  height: 100px;
}

.connect-section {
  margin: 20px auto 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 999px;
  padding: 5px;
  width: min-content;
}
.connect-button-container {
  justify-content: center;
  border-radius: 30px;
  background-color: #1fe3e7;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 0.21px;
  line-height: 150%;
  padding: 10px 16px;
}
.claim-button-container {
  justify-content: center;
  border-radius: 30px;
  background-color: #526ee9;
  flex-direction: column;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 0.21px;
  line-height: 150%;
  padding: 10px 10px 10px 10px;
}
.connect-button-text {
  font-palette: 'dlig' on;
  font-family:
    Balsamiq Sans,
    sans-serif;
  background-color: #1fe3e7;
  justify-content: center;
}
.claim-button-text {
  font-palette: 'dlig' on;
  font-family:
    Balsamiq Sans,
    sans-serif;
  background-color: #1fe3e7;
  justify-content: center;
}
.icon-container {
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #f5f0e5;
  display: flex;
  width: 50px;
  /* height: 50px; */
  padding: 10px;
}
.icon-image {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 20px;
}
/* SHAPKA END */
.cards-grid {
  border-radius: 15px;
  display: flex;
  flex-grow: 1;
  padding:;
}
.container2 {
  display: flex;
  max-width: 322px;
  gap: 70px;
  font:
    700 18px/1 'Plus Jakarta Sans',
    sans-serif;
  color: #000;
  white-space: nowrap;
  letter-spacing: -0.27px;
  /*justify-content: space-between;*/
  padding: 0 30px 0 30px;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.status {
  font-feature-settings: 'dlig' on;
  margin: auto auto auto auto;
}
.money {
}
.info-wrapper {
  padding-left: 20px;
  display: flex;
  gap: 2px;
}
.info {
  font-feature-settings: 'dlig' on;
  flex-grow: 1;
  margin: auto 0;
}
.icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 30px;
  height: 30px;
  margin: auto;
}
.claim {
  font-feature-settings: 'dlig' on;
  margin: auto auto auto 15px;
}
/* menu  */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: #8588fa;
  z-index: 10;
  margin-top: -45px;
  width: fit-content;
  max-width: 100%;
  flex-direction: column;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 0.24px;
  line-height: 150%;
  padding: 12px 44px;
}
.button-text {
  font-feature-settings: 'dlig' on;
  font-family:
    Balsamiq Sans,
    sans-serif;
  background-color: #8588fa;
  text-align: center;
}
/* BUTTON END */
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
  padding: 0 60px;
  border-bottom: 1px solid rgba(222, 222, 222, 1);
}
.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 896px;
  gap: 13px;
  padding: 12px 1px;
}
.token-info,
.reward-info,
.staking-info,
.market-info {
  border-radius: 20px;
  background-color: #f5f0e5;
  font-family:
    Balsamiq Sans,
    sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #1c170d;
  font-size: 14px;
  font-weight: 400;
}
.token-info {
  display: flex;
  gap: 6px;
  align-items: center;
  text-align: center;
  line-height: 150%;
  padding: 12px 60px;
}
.reward-info {
  display: flex;
  gap: 6px;
  align-items: center;
  line-height: 150%;
  padding: 12px 60px;
}
.market-info {
  gap: 6px;
  border-radius: 20px;
  background-color: #f5f0e5;
  display: flex;
  align-items: center;
  padding: 12px 60px;
}
.img-icon {
  width: 24px;
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
}
.img-icon-large {
  width: 24px;
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
}
.staking-info {
  display: flex;
  gap: 6px;
  align-items: center;
  line-height: 86%;
  padding: 12px 60px;
}

/* Menu knopok end */
.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 9999px;
  justify-content: center;
  background-color: #fffefe;
  display: flex;
  width: 100%;
  padding-bottom: 55px;
}
.inner-container {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  margin-top: 29px;
  width: 100%;
  max-width: 896px;
}
.section-wrapper {
  gap: 20px;
  display: flex;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 33%;
  /*display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 5vw);
  grid-gap: 15px;*/
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card {
  border-radius: 35px;
  background-color: #5cdaaf;
  display: flex;
  flex-grow: 1;
  gap: 13px;
  padding: 27px 54px;
}
.card-image {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 70px;
  margin: auto 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-title {
  color: #1c170d;
  text-align: center;
  font-feature-settings: 'dlig' on;
  font:
    400 20px/120% Balsamiq Sans,
    sans-serif;
}
.card-subtitle {
  color: #000;
  text-align: center;
  font-feature-settings: 'dlig' on;
  margin-top: 5px;
  font:
    400 18px/117% Balsamiq Sans,
    sans-serif;
}
.icon-wrapper {
  display: flex;
  margin-top: 7px;
  gap: 7px;
}
.icon-small {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 50px;
  border-radius: 15px;
}
.stake-container {
  justify-content: center;
  border-radius: 35px;
  background-color: #fed162;
  display: flex;
  gap: 12px;
  color: #000;
  font-weight: 400;
  text-align: center;
  margin-right: -2px;
  width: 298px;
  height: 165px;
  padding: 20px 33px;
  align-items: flex-end;
}
.details-column {
  display: flex;
  flex-direction: column;
}
.time-remaining {
  font-feature-settings: 'dlig' on;
  align-self: start;
  margin: 23px 0 0 15px;
  font:
    24px/67% Balsamiq Sans,
    sans-serif;
}
.pool-number {
  width: 70px;
  font-feature-settings: 'dlig' on;
  margin: 63px -4px 0 0;
  font:
    18px/89% Balsamiq Sans,
    sans-serif;
}
.stake-button {
  font-feature-settings: 'dlig' on;
  align-self: start;
  font:
    20px/65% Balsamiq Sans,
    sans-serif;
}
.stake-details {
  align-self: end;
  display: flex;
  margin-top: -4px;
  flex-direction: column;
  white-space: nowrap;
}
.percent {
  font-feature-settings: 'dlig' on;
  align-self: start;
  margin: -5px 0 37px 13px;
  font:
    24px/46% Balsamiq Sans,
    sans-serif;
}
.stake-total-container {
  display: flex;
  margin-top: 24px;
  gap: 2px;
  font-size: 18px;
  line-height: 56%;
}
.stake-total {
  font-feature-settings: 'dlig' on;
  font-family:
    Balsamiq Sans,
    sans-serif;
  flex-grow: 1;
  margin: auto 0;
}
.important-card {
  border-radius: 35px;
  background-color: #c584d4;
  display: flex;
  flex-grow: 1;
  gap: 10px;
  width: 100%;
  padding: 27px 59px;
}
.important-card-image {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 64px;
  margin: auto 0;
}
.important-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.important-card-title {
  color: #000;
  text-align: center;
  font-feature-settings: 'dlig' on;
  font:
    400 20px/120% Balsamiq Sans,
    sans-serif;
}
.important-card-subtitle {
  color: #000;
  text-align: center;
  font-feature-settings: 'dlig' on;
  margin-top: 8px;
  font:
    400 18px/133% Balsamiq Sans,
    sans-serif;
}
.important-card-icons {
  display: flex;
  margin-top: 5px;
  gap: 7px;
}
.important-card-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 50px;
  border-radius: 15px;
}

/* inas pol stake */
